[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
fastapi = {extras = ["standard"], version = "*"}
fastapi-limiter = "*"
psycopg2-binary = "*"
pydantic = "*"
redis = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
async-timeout = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
pytest = "*"
freezegun = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
